      <header class="page-header">
        <nav>
          <ul class="main-nav">
            <li><a href="/">home</a></li>
            <li><a href="#"></a></li>
            <li><a href="https://kyoto-kouryaku.com/">Blog</a></li>
            <li><a href="/contact">contact</a></li>
          </ul>
        </nav>
      </header>