/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/****************************************
    共通部分
*****************************************/

#wrapper {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

html {
  font-size: 100%;
}

a {
  text-decoration: none;
}

body {
  line-height: 1.7;
}


/****************************************
    ボタン
*****************************************/


/****************************************
    header
*****************************************/

header {
  background-color: #defdb1;
  margin-top: -20px;
  padding-top: 65px;
  padding-bottom: 65px;
}

header h1  {
  text-align: center;
}

header h1 a {
  color: #8ae60a;
  font-size: 32.64px;
}

/****************************************
    nav
*****************************************/
nav {
  text-align: center;
  width: 100%;
  background-color: #8ae60a;
  margin-top: -22px;
}

nav ul {
  margin: 0;
  padding-top: 0;
  font-size: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  width: 10%;
  font-size: 16px;
  line-height: 30px;
}

nav ul li a {
  color: #fff;
}

nav li:hover {
  opacity: 0.8;
}

/****************************************
    プロフィール
*****************************************/

.contents {
  margin: 10px 30px;
}

.contents h2 {
  text-align: left;
  border-bottom: medium solid #8ae60a;
}

.contents h3 {
  margin-top: 10px;
  margin-bottom: -15px;
}

.contents p {

}

/****************************************
    footer
*****************************************/

footer {
  text-align: center;
  background-color: #8ae60a;
  padding: 10px;
  margin-top: 10px;
}

/****************************************
    見出し
*****************************************/

/****************************************
    大きな画像背景
*****************************************/
